[Desktop Entry]
Name=AirPC
Comment=Stream games and other applications from another PC running Sunshine or GeForce Experience
Exec=airpc
Icon=airpc-logo
Terminal=false
Type=Application
Categories=Qt;Game;Network;RemoteAccess;
Keywords=airpc;gamestream;stream;sunshine;remote play;
